<ion-header translucent>
    <ion-toolbar>
      <ion-title>HELP</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-item>
          <ion-label position="stacked">Overview</ion-label>
          <ion-textarea auto-grow=true readonly=true>{{overview}}</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">How to input</ion-label>
        <ion-textarea auto-grow=true readonly=true>{{howToInput}}</ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">How to share</ion-label>
        <ion-textarea auto-grow=true readonly=true>{{howToShare}}</ion-textarea>
      </ion-item>
    </ion-list>
  </ion-content>