.image {
    //position:  absolute;        
    //background-color: #ccc;     
    padding:  10px;             
    left:  10px;                
    //top: 10px;                  
}
.canvas {
    //position:  absolute;        
    //background-color: #ccc;     
    padding:  10px;             
    left:  10px;                
    top: 10px;
    //width: 300;
    //height: 700;                 
}