<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>This application can do emotion analysis</ion-card-title>
      </ion-card-header>
        <ion-card-content>
            <ion-button expand="block" (click)="moveFaceEmotionPage()">Face analysis</ion-button>
            <ion-button expand="block" (click)="moveTextEmotionPage()">Text Analysis</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
